{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block header %}The Library {% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{{ url_for('add_book') }}" class="btn btn-primary">Add Book</a>
        <a href="{{ url_for('add_member') }}" class="btn btn-secondary">Add Member</a>
        <a href="{{ url_for('loan_book') }}" class="btn btn-info">Loan Book</a>
        <a href="{{ url_for('return_book') }}" class="btn btn-warning">Return Book</a>
        <a href="{{ url_for('show_members') }}" class="btn btn-primary">show members status</a>
        <a href="{{ url_for('search_books') }}"class="btn btn-info">Search Books</a>
        <a href="{{ url_for('statistics') }}"class="btn btn-warning">Statistics</a><br>


    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Published Year</th>
                <th>Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ 'Yes' if book[4] else 'No' }}</td>
                <td>
                    <a href="{{ url_for('update_book', book_id=book[0]) }}" class="btn btn-sm btn-info">Update</a>
                    <form method="post" action="{{ url_for('delete_book', book_id=book[0]) }}" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
